/* A California Stylesheet (MIT License) */
/* https://github.com/casscss/cass */

:root {
  --base-h:204; 
  --base-s:76%;
  --base-l:43%;
  --base-tone:var(--white);
  --alt-tone:var(--white);
  --base:hsl(var(--base-h), var(--base-s), var(--base-l));
  --text-measure:50;
  --font-size-base:16px;
  --text-indent:1ch;
  --padding-base:1em;
  --card:calc(var(--type)*.6);
  --type:calc(var(--text-measure)*.55rem);
  --page:calc(var(--type)*1.6);
  --w-h:var(--base-h);
  --w-s:calc(var(--base-s) * .2);
  --w-l:99.5%;
  --white:hsl(var(--w-h), var(--w-s), var(--w-l));
  --w:var(--white);
  --b-h:var(--base-h);
  --b-s:calc(var(--base-s) * .2);
  --b-l:calc(var(--base-l) * .2);
  --black:hsl(var(--b-h), var(--b-s), var(--b-l));
  --b:var(--black);
  --v:1;
  --width:100%;
  --padding:calc(var(--padding-base) * .6);
  --p:var(--padding);
  --margin:var(--p);
  --m:var(--margin);
  --j: 1;
  --font-size:calc((var(--font-size-base) - 2px) * var(--j, 1));

  color:var(--b);
  background-color:var(--w);
  font-family:"Helvetica Neue", -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
  line-height:1.6;
  overflow-x:hidden;
}
* { 
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-size:calc(var(--font-size) * var(--i, 1) * var(--j))
}
body { min-height:100vh;}
body * {
  padding-left:calc(50% - var(--width) * .5);
  padding-right:calc(50% - var(--width) * .5);
}
h1 { --i: 2.4}
h2 { --i: 2}
h3 { --i: 1.4}
h4 { --i: 1.2}
h5 { --i: 1.1}
h1, h2, h3, h4, h5, h6 {
  --width:var(--page);
  --j: 1;
  line-height:1.1;
  margin-top:.6em;
  margin-bottom:.6em;
  letter-spacing: -.02em;
}
span, em, strong, i, pre, code, address, blockquote, cite, a { padding-left: unset; padding-right: unset}
p {text-indent:var(--text-indent)}
p, ul, ol {margin-bottom:var(--m)}
ul, ol {margin-left:1.6em}
a {color:inherit}
pre, code, input, textarea {line-height:var(--line-height); border:none}
img {max-width:100%}
button, .button {
  display:inline-block;
  font-size:inherit;
  padding:.6em 1em;
  border:none;
  border-radius:6px;
  cursor:pointer;
  line-height:1.7;
}

.text-center {text-align:center}
.text-right {text-align:right}
.text-crunch {line-height:1.4}
.monospace {font-family:monospace}
.bold {font-weight:bold}
.italic {font-style:italic}
.tiny {--j: .75}
.small {--j: .9}
.big {--j: 1.2}
.huge {--j: 1.4}

.pointer {cursor:pointer}
.rounded {border-radius:.6em}
.border {border:1px solid hsl(var(--hue, var(--h)), clamp(0%, calc(.7 * var(--sat, var(--s))), 50%), clamp(0%, calc(.7 * var(--lit, var(--l))), 60%))}
.dashed {border-style:dashed}
.thick {border-width:2px}
.shadow {box-shadow:0 1px .3em hsla(var(--b-h), var(--b-s), var(--b-l), 0.2)}

.block {display:block}
.hide, .hide.mobile, .hide.mobile.tablet {display:none}
.hide.tablet, .hide.desktop {display:initial}
.fixed, .fixed.mobile, .fixed.mobile.tablet {position:fixed}
.fixed.tablet, .fixed.desktop {position:initial}
.relative {position:relative}
.absolute {position:absolute}
.top {top:0} .right {right:0} .bottom {bottom:0} .left {left:0}
.vertical-center {display:flex; flex:0 1 auto; flex-direction:column; justify-content:center}

.card {--width:var(--card)}
.type {--width:var(--type)}
.page {--width:var(--page)}
.full.width {width:100%; --width:var(--page)}
.card.width, .type.width, .page.width {width:var(--width); padding: 0; max-width: 100%;}
.card.width.padding, .type.width.padding, .page.width.padding {padding: var(--p);}

.padding-top, .padding {padding-top:var(--p)}
.padding-bottom, .padding {padding-bottom:var(--p)}
.padding-left, .padding {padding-left:max(var(--p), calc(50% - (var(--width) * .5) + var(--p)))}
.padding-right, .padding {padding-right:max(var(--p), calc(50% - (var(--width) * .5) + var(--p)))}
.margin {margin:var(--m)}
.margin-top {margin-top:var(--m)}
.margin-bottom {margin-bottom:var(--m)}
.margin-auto {margin-left:auto; margin-right:auto}
.tight {--p:calc(var(--padding) * .6)}
.tight * {--p:var(--padding)}
.gutter {--m:calc(var(--padding) * 2)}
.gutter *, .tight * {--m:var(--padding)}
.trim > *:last-child {margin-bottom:0}

.columns {
  --c:12;
  --multi:repeat(var(--c), minmax(0, 1fr));
  --single:repeat(1, minmax(0, 1fr));
  display:grid;
  gap:var(--m);
  grid-template-columns:var(--multi);
}
.columns.tablet, .columns.desktop {grid-template-columns:var(--single)}
.columns .wide {grid-column:auto / span var(--c)}
.tablet .wide, .desktop .wide {width:100%; grid-column:unset}
.golden {--multi:1.618fr 1fr}
.golden.reverse {--multi:1fr 1.618fr}

.two {--c:2}
.three {--c:3}
.four {--c:4}
.five {--c:5}
.six {--c:6}
.seven {--c:7}
.eight {--c:8}
.nine {--c:9}
.ten {--c:10}
.eleven {--c:11}
.twelve {--c:12}

@media screen and (min-width:28rem) {
  :root {
    --width:100%;
    --padding:calc(var(--padding-base) * .8);
    --font-size:calc((var(--font-size-base) - 1px) * var(--j, 1));
  }

  .columns.mobile {grid-template-columns:var(--single)}
  .columns.tablet {grid-template-columns:var(--multi)}
  .hide.mobile {display:initial}
  .hide.tablet {display:none}
  .fixed.mobile {position:initial}
  .fixed.tablet {position:fixed}
  .mobile .wide  {grid-column:unset}
  .tablet .wide  {grid-column:auto / span var(--c, 1)}
}

@media screen and (min-width:45rem) {
  :root {
    --width:var(--page);
    --padding:var(--padding-base);
    --font-size:calc(var(--font-size-base) * var(--j, 1));
  }

  .columns.mobile.tablet {grid-template-columns:var(--single)}
  .columns.desktop {grid-template-columns:var(--multi)}
  .hide.mobile.tablet {display:initial}
  .hide.desktop {display:none}
  .fixed.mobile.tablet {position:initial}
  .fixed.desktop {position:fixed}
  .mobile.tablet .wide  {grid-column:unset}
  .desktop .wide  {grid-column:auto / span var(--c, 1)}
}

.no-gap {gap:0}
.no-underline {text-decoration:none}
.no-text-indent {--text-indent:0}
.no-margin-top {margin-top:0}
.no-margin-bottom {margin-bottom:0}

.base,
.accent,
.complement,
.red,
.orangered,
.orange,
.yellow,
.green,
.teal,
.cyan,
.blue,
.indigo,
.purple,
.pink,
.brown,
.gray {
  color:var(--t);
  background-color:hsl(
    var(--h), 
    calc(((var(--sat, var(--s)) * 5) + var(--base-s))/6), 
    calc(((var(--lit, var(--l)) * 5) + var(--base-l))/6)
  );
}

.white, .black {
  background-color:hsl(var(--h), var(--sat, var(--s)), var(--lit, var(--l)));
}

.base, .gray, .accent {color:var(--base-tone)}
.complement {color:var(--alt-tone)}

.bright *, .dim * {--sat:var(--s)}
.light *, .dark * {--lit:var(--l)}
.bright {--sat:calc(100% - ((100% - var(--s)) / (1 + var(--vv) * var(--v))))}
.dim {--sat:calc(var(--s) / (1 + var(--vv) * var(--v)))}
.light {--lit:calc(100% - ((100% - var(--l)) / (1.3 + var(--vv) * var(--v)))); color:var(--b)}
.dark {--lit:calc(var(--l) / (1 + var(--vv) * var(--v))); color:var(--w)}

.base, .complement, .accent {--h:var(--base-h); --s:var(--base-s); --l:var(--base-l);--vv:.5}
.complement {--h:calc(var(--base-h) + 180)}
.accent {--h:calc(var(--base-h) + 25)}
.white {--h:var(--w-h); --s:var(--w-s); --l:var(--w-l); --vv:.05; color:var(--b)}
.black {--h:var(--b-h); --s:var(--b-s); --l:var(--b-l); --vv:.05; color:var(--w)}
.gray {--h:var(--base-h); --s:0%; --l:clamp(50%,var(--base-l),80%); --vv:.2}
.brown {--h:25; --s:clamp(30%, calc(var(--base-s) * .8), 50%); --l:clamp(30%, calc((var(--base-l) + var(--b-l)) * .5), 80%);--t:var(--w); --vv:.5}
.red {--h:3;--s:71%;--l:50%;--t:var(--w);--vv:.4}
.orangered {--h:24;--s:86%;--l:50%;--t:var(--w);--vv:.4}
.orange {--h:40;--s:96%;--l:55%;--vv:.3}
.yellow {--h:54;--s:95%;--l:60%;--vv:.5}
.green {--h:110;--s:57%;--l:35%;--t:var(--w);--vv:.4}
.teal {--h:170;--s:35%;--l:45%;--t:var(--w);--vv:.5}
.cyan {--h:180;--s:85%;--l:50%;--vv:.3}
.blue {--h:222;--s:75%;--l:60%;--t:var(--w);--vv:.4}
.indigo {--h:245;--s:68%;--l:50%;--t:var(--w);--vv:.2}
.purple {--h:275;--s:63%;--l:48%;--t:var(--w);--vv:.5}
.pink {--h:335;--s:85%;--l:80%;--vv:.3}

.very *, .hella * {--v:1}
.very {--v:2}
.hella {--v:4}

.text-dark {color:var(--b)}
.text-light {color:var(--w)}

.text-color {
  --t-h:var(--hue, var(--h));
  --t-s:var(--sat, var(--s));
  --t-l:clamp(0%, var(--lit, var(--l)), 44%);
  color:hsl(var(--t-h), var(--t-s), var(--t-l));
  background-color:transparent;
}
.text-color.text-light {
  --t-l:clamp(50%, var(--lit, var(--l)), 100%);
}