@font-size: 16px;
@text-base: 48;
@padding: 1rem;
@gutter: 2 * @padding;
@tablet: @type-width;
@desktop: @page-width;
@type-width: round((@text-base * .618rem), 1);
@card-width: round((@type-width * .618), 1);
@page-width: round((@type-width * 1.618), 1);

/* A California Stylesheet (MIT License) */
/* https://github.com/casscss/cass */

/* The base color used to generate this CASS */
:root {
    --base-color: @base-color;
}

/* Typography */
:root {
    --line-height: 1.6;
    --text-measure: @text-base;
    --font-size-base: @font-size;
    --font-size-mod: 1;
    --font-size: calc(var(--font-size-base) * var(--font-size-mod));
    --font-family: var(--sans-serif);
    --headline-font-family: var(--sans-serif);
    --text-padding: calc(.4 * var(--padding-base));
    --text-margin: var(--text-padding);
    --text-indent: 0;
    --text-border-radius: 4px;
    --monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
    --serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    --sans-serif: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

/* Layout */
:root {
    --padding-base: 1em;
    --padding: var(--padding-base);
    --margin: var(--padding-base);
    --gutter: @gutter;
    --gap: var(--padding-base);
    --width: var(--type-width);
    --type-width: calc(var(--text-measure) * .6rem);
    --card-width: calc(var(--type-width) * .6);
    --page-width: calc(var(--type-width) * 1.6);
    --feature-width: calc(var(--page-width) * 1.6);
    --full-width: 100%;
}

/* Decoration */
:root {
    --border-width: 1px;
    --border-style: solid;
    --border-color: black;
    --border-radius: 6px;
    --border-thin: calc(var(--border-width) / 2);
    --border-thick: calc(var(--border-width) * 2);
    --box-shadow: 0 var(--shadow-position) var(--shadow-blur) var(--shadow-color);
    --shadow-position: 1px;
    --shadow-blur: 3px;
    --shadow-color: fade(@black, 20%);
}

/* Colors */
:root {
    --brand-color: @base-color;
    --complement: @complement;
    --accent: @accent;
    --white: @white;
    --gray: @gray;
    --black: @black;
    --red: @red;
    --orangered: @red-orange;
    --orange: @orange;
    --gold: @orange-yellow;
    --yellow: @yellow;
    --lime: @yellow-green;
    --green: @green;
    --jade: @green-teal;
    --teal: @teal;
    --aqua: @teal-cyan;
    --cyan: @cyan;
    --skyblue: @cyan-blue;
    --blue: @blue;
    --indigo: @blue-purple;
    --purple: @purple;
    --fuchsia: @purple-magenta;
    --magenta: @magenta;
    --pink: @magenta-red;
    --focus-color: var(--skyblue);
    --h: round(hue(@white), 1);
    --s: round(saturation(@white), 1);
    --l: round(lightness(@white), 1);
    --a: 1;
}

/* Responsive settings for mobile **/
:root {
    --responsive-width: 100%;
    --responsive-padding: calc(var(--padding-base) * .6);
    --responsive-font-size: calc(@font-size - 2px);
}

/* Responsive settings for tablet */
:root {
    .on-tablet({
        --responsive-width: var(--type-width);
        --responsive-padding: calc(var(--padding-base) * .8);
        --responsive-font-size: calc(@font-size - 1px);
    });
}

/* Responsive settings for desktop */
:root {
    .on-desktop({
        --responsive-width: var(--page-width);
        --responsive-padding: var(--padding-base);
        --responsive-font-size: @font-size;
    });
}